// BUTTONS
.button{
    display: inline-block;
    color:#1A1A1A;
    background-color:var(--first-color);
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;

    &:hover{
        background-color:var(--first-color-alt);
    }

    &-header{
        display: none;
    }
    &-link{
        background: none;
        padding: 0;
        color:var(--title-color);

        &:hover{
            background-color: transparent;
        }
    }
    &-flex{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        padding: .75rem 1rem;
    }

    &-icon{
        font-size: 1.5rem;
    }
}